<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hivi Mockup Question</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/content/base.css" />
    <link type="text/css" rel="stylesheet" href="/content/question.css" />
    <link type="text/css" rel="stylesheet" href="/content/answerControls.css" />
    <link href="http://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="page">
        <div class="banner">

            <ul class="main-nav">
                <li><a href="javascript:void(0)" class="active">Home</a></li>
                <li><a href="javascript:void(0)">Categories</a></li>
                <li><a href="javascript:void(0)">Questions</a></li>
                <li><a href="javascript:void(0)">My Activity</a></li>
            </ul>

            <img class="logo" src="/images/logo.png" alt="logo" />

            <div class="search-login-container">
                <div class="login-container">
                    <a href="javascript:void(0)" class="bd">Login</a>
                    <a href="javascript:void(0)">Sign up</a>
                </div>

                <div class="clear"></div>

                <div class="search-container">
                    <div class="search">
                        <a href="javascript:void(0)" class="search-btn"></a>
                        <div>
                            <input type="text" placeholder="Search..." />
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
        <!-- end banner -->

        <div class="shadow">

            <div class="inner-shadow">

                <div class="textbox-container">
                    <a class="primaryAction">Submit</a>
                    <div class="textbox-ask">
                        <input type="text" placeholder="Go ahead, ask a question" />
                    </div>
                </div>

                <div class="breadcurb">
                    <a href="javascript:void(0)">Home</a> <span>/</span>
                    <a href="javascript:void(0)">Questions</a> <span>/</span>
                    
                    <% for(var i = 0; i < question.tags.length; i++){ %>                    
                    <a href="<%= question.tags[i].tag_url %>"><%= question.tags[i].tag %></a>                     
                        <% if(i < question.tags.length - 1){ %>
                            <span>/</span>                    
                        <% } %>
                    <% } %>
                    
                </div>


                <h3>Question</h3>

                <div class="left-pane">
                    <div class="question-avatar">
                    </div>

                    <div class="question">
                        <a href="<%= question.author_url %>" class="question-author"><%= question.author %></a> <span>has asked</span>
                        <a href="javascript:void(0)" class="question-link"><%= question.body %></a>
                    </div>

                    <div class="answers">

                        <% if(question.choice_type === 'Single'){ %>

                        <div class="answers-tip">
                            Possible Answers (select and click submit):
                        </div>

                        <div class="answers-control">

                            <% for(var i = 0; i < question.choices.length; i++){ %>
                            
                            <div class="answers-control-radiobutton">
                                <input type="radio" name="answer" id="answer-<%= question.choices[i].id %>" />
                                <label for="answer-<%= question.choices[i].id %>"><%= question.choices[i].body %></label>
                            </div>

                            <%} %>

                        </div>

                        <% } %>

                        <a href="javascript:void(0)" class="primaryAction">Submit</a>
                    </div>
                </div>

                <div class="right-pane">
                    <span>Featured Question Answer</span>
                    <div class="featured-answer">
                        <%= question.featuredChoice.body %>
                    </div>
                </div>

                <div class="clear"></div>

            </div>
        </div>

        <!-- end shadow -->

        <div class="main">
            <div class="inner-main">

                <div class="left-container">

                    <div class="share-question">
                        <span>Share this Question: </span>
                        <a class="share-question-to-facebook" href="javascript:void(0)">facebook</a>
                        <a class="share-question-to-twitter" href="javascript:void(0)">twitter</a>
                        <a class="share-question-to-google" href="javascript:void(0)">google+</a>
                    </div>

                    <h3>Comments</h3>

                    <ul>

                        <% for(var i = 0; i < question.comments.length; i++){ %>

                        <li>
                            <div class="comment-avatar">
                            </div>

                            <div class="comment">
                                <a href="<%= question.comments[i].author_url %>" class="comment-author"><%= question.comments[i].author %></a> <span>says</span><span class="right">commented on <%= question.comments[i].created_date %></span>
                                <div class="comment-content"><%= question.comments[i].body %></div>
                                <div class="comment-vote">
                                    <a href="javascript:void(0)" class="comment-vote-upvote">Upvote</a>
                                    <span>|</span>
                                    <a href="javascript:void(0)" class="comment-vote-downvote">Downvote</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </li>

                        <% } %>
                        
                    </ul>

                    <div class="comment-submit">
                        <div>
                            <input type="text" placeholder="Comment on this question" />
                        </div>
                        <a href="javascript:void(0)" class="primaryAction">Submit</a>
                    </div>

                </div>

                <div class="right-container">

                    <h3>Related Questions</h3>

                    <ul class="related-questions">

                        <% for(var i = 0; i < relatedQuestions.length; i++) { %>

                        <li>
                            <a href="<%= relatedQuestions[i].author_url %>" class="question-author"><%= relatedQuestions[i].author %></a><span>has asked a new question</span>
                            <a href="<%= relatedQuestions[i].url %>" class="question-link"><%= relatedQuestions[i].summary %></a>
                        </li>

                        <% } %>

                    </ul>
                </div>

                <div class="clear"></div>
            </div>
        </div>

        <!-- end main -->

        <div class="bottom">

            <div class="social-community">
                <div class="join-community">
                    <span class="decoration-left"></span>
                    <span>Join the community</span>
                    <span class="decoration-right"></span>
                </div>

                <div class="social-login">
                    <a class="facebook-login" href="javascript:void(0)">
                        <span class="facebook-icon"></span>
                        <span>Login with Facebook</span>
                    </a>

                    <a class="twitter-login" href="javascript:void(0)">
                        <span class="twitter-icon"></span>
                        <span>Login with Twitter</span>
                    </a>

                    <div class="social-login-or">
                        OR
                    </div>

                    <div class="clear"></div>

                    <div class="no-social-login">
                        Don't have Facebook or Twitter?
                    </div>

                    <div class="clear"></div>

                    <div class="email-signup">

                        <a href="javascript:void(0)" class="btn-sign-me-up">Sign me up</a>

                        <div>
                            <input type="text" placeholder="your email address" />
                        </div>

                        <div class="clear"></div>

                        <p>
                            By click this button you agree to Hivenate's <a href="javascript:void(0)">Privacy Policy</a> &amp; <a href="javascript:void(0)">Term of Use</a>
                        </p>

                    </div>

                </div>
            </div>

            <div class="footer">
                <div class="footer-nav">
                    <h4>Site</h4>
                    <ul>
                        <li><a href="javascript:void(0)">Home</a></li>
                        <li><a href="javascript:void(0)">Categories</a></li>
                        <li><a href="javascript:void(0)">Questions</a></li>
                        <li><a href="javascript:void(0)">My Activity</a></li>
                    </ul>
                </div>

                <div class="footer-nav">
                    <h4>About Hivenate</h4>
                    <ul>
                        <li><a href="javascript:void(0)">About Us</a></li>
                        <li><a href="javascript:void(0)">Sitemap</a></li>
                    </ul>
                </div>

                <div class="footer-nav">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="javascript:void(0)">Privacy Policy</a></li>
                        <li><a href="javascript:void(0)">Terms of Use</a></li>
                        <li><a href="javascript:void(0)">Disclaimer</a></li>
                    </ul>
                </div>

                <div class="clear"></div>
            </div>

        </div>
        <!-- end bottom -->
    </div>
</body>
</html>
