<li>
    <div class="comment-avatar">
    </div>

    <div class="comment">
        <a href="<%= author_url %>" class="comment-author"><%= author %></a> <span>says</span><span class="right">commented on <%= created_date %></span>
        <div class="comment-content"><%= body %></div>
        <div class="comment-vote">
            <a href="javascript:void(0)" class="comment-vote-upvote">Upvote</a>
            <span>|</span>
            <a href="javascript:void(0)" class="comment-vote-downvote">Downvote</a>
        </div>
        <div class="clear"></div>
    </div>
</li>