/* reset */
* {
    margin: 0;
    padding: 0;
    padding-bottom: 0px;
    list-style: none;
    border: none;
    font-size: 100%;
}

/* element style */
input[type="text"], input[type="password"] {
    border: 1px solid #ccc;
    font-family: Tahoma;
    font-size: .8em;
    padding: 9px;
}

textarea {
    border: 1px solid #ccc;
    height: 8em;
    font-family: Tahoma;
    font-size: .8em;
    line-height: 1.2em;
    padding: 9px;
}

select {
    border: 1px solid #ccc;
    font-family: Tahoma;
    font-size: .8em;
    padding: 9px;
}

input[type="checkbox"], input[type="radiobutton"] {
    display: inline-block;
    vertical-align: top;
    margin: .1em .2em 0 0;
}

    input[type="checkbox"] + label, input[type="radio"] + label {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 0;
        color: #444;
        font-family: Tahoma;
        font-size: .8em;
    }

.primaryAction {
    display: inline-block;
    padding: 9px 9px;
    cursor: pointer;
    min-width: 92px;
    *overflow: visible;
    background: #eaeaea;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #666666;
    font-family: Tahoma;
    font-size: .9em;
    text-decoration: none;
    text-align: center;
    background: #3792ED;
    background: -moz-linear-gradient(top, #358eea 0%, #2170cd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#358eea), color-stop(100%,#2170cd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #358eea 0%,#2170cd 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #358eea 0%,#2170cd 100%); /* W3C */
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.6), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.6), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    color: #efefef;
    text-shadow: 0px -1px 0px #185B93;
}

    .primaryAction:hover {
        border-color: #0D569E;
        background: #6cb6f3; /* Old browsers */
        background: -moz-linear-gradient(top, #6cb6f3 0%, #4387d2 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cb6f3), color-stop(100%,#4387d2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #6cb6f3 0%,#4387d2 100%); /* Chrome10+,Safari5.1+ */
        background: linear-gradient(top, #6cb6f3 0%,#4387d2 100%); /* W3C */
        color: #fff;
    }

    .primaryAction:active {
        border-color: #0D569E;
        background: #1f66be; /* Old browsers */
        background: -moz-linear-gradient(top, #1f66be 0%, #3085e0 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f66be), color-stop(100%,#3085e0)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #1f66be 0%,#3085e0 100%); /* Chrome10+,Safari5.1+ */
        background: linear-gradient(top, #1f66be 0%,#3085e0 100%); /* W3C */
        -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
        color: #fff;
    }

.secondaryAction {
    display: inline-block;
    padding: 9px 9px;
    cursor: pointer;
    min-width: 75px;
    *overflow: visible;
    border: 1px solid #c2c2c2;
    background: #eaeaea;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #666666;
    font-family: Tahoma;
    font-size: .9em;
    text-decoration: none;
    text-align: center;
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #dfdfdf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f5f5 0%,#dfdfdf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f5f5 0%,#dfdfdf 100%); /* IE10+ */
    background: linear-gradient(top, #f5f5f5 0%,#dfdfdf 100%); /* W3C */
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    text-shadow: 0px 1px 0px #ffffff;
    color: #555;
}

    .secondaryAction:hover {
        background: #fefefe; /* Old browsers */
        background: -moz-linear-gradient(top, #fefefe 0%, #e8e8e8 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fefefe 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fefefe 0%,#e8e8e8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #fefefe 0%,#e8e8e8 100%); /* IE10+ */
        background: linear-gradient(top, #fefefe 0%,#e8e8e8 100%); /* W3C */
        color: #555;
    }

    .secondaryAction:active {
        border-color: #999;
        background: #c6c6c6; /* Old browsers */
        background: -moz-linear-gradient(top, #c6c6c6 0%, #f3f3f3 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6c6c6), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c6c6c6 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c6c6c6 0%,#f3f3f3 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c6c6c6 0%,#f3f3f3 100%); /* IE10+ */
        background: linear-gradient(top, #c6c6c6 0%,#f3f3f3 100%); /* W3C */
        -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
    }

.clear {
    clear: both;
}

/* button group */
ul.buttonGroup {
    display: inline-block;
    margin: 0;
    padding: 0;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #f0f2f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f0f2f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#f0f2f1 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #fff 0%,#f0f2f1 100%); /* W3C */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0px 0px #bbb;
    box-shadow: 0px 1px 0px 0px #bbb;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    list-style: none;
}

    ul.buttonGroup > li {
        display: block;
        float: left;
        border-left: 1px solid #c9c9c9;
        margin: 0;
    }

        ul.buttonGroup > li:hover {
            background-color: #e8f1fa;
        }

        ul.buttonGroup > li:first-child {
            border-left: none;
        }

        ul.buttonGroup > li.active,
        ul.buttonGroup > li.active:hover {
            background: #c6c6c6; /* Old browsers */
            background: -moz-linear-gradient(top, #c6c6c6 0%, #f3f3f3 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6c6c6), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #c6c6c6 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #c6c6c6 0%,#f3f3f3 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #c6c6c6 0%,#f3f3f3 100%); /* IE10+ */
            background: linear-gradient(top, #c6c6c6 0%,#f3f3f3 100%); /* W3C */
        }

        ul.buttonGroup > li > a {
            display: inline-block;
            padding: 7px 7px 6px 7px;
            text-decoration: none;
            color: #333;
        }

        ul.buttonGroup > li.active > a {
            color: #666;
        }


/* Input Customised Tags */
div.tagsInput {
    display: inline-block;
    padding: 5px 5px 0 5px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: #FFF;
}


    div.tagsInput span.tag {
        display: block;
        float: left;
        padding: 2px 6px 2px 6px;
        margin-right: 5px;
        margin-bottom: 5px;
        border: 1px solid #c9c9c9;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        font-size: 12px;
        text-decoration: none;
        color: #444;
        cursor: pointer;
    }

        div.tagsInput span.tag:hover {
            background-color: #e8f1fa;
        }

        div.tagsInput span.tag a {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 6px 0 0 0;
            background: transparent url(../images/tagClose.png) no-repeat;
            background-position: center;
        }

    div.tagsInput input[type="text"],
    div.tagsInput input {
        padding: 4px 0 4px 0 !important;
        margin: 0px 5px 5px 0 !important;
        border: none !important;
        background: transparent !important;
        outline: none !important;
        font-weight: normal;
        font-family: helvetica;
        font-size: 12px;
    }

    div.tagsInput div {
        display: block;
        float: left;
        width: 45%;
    }

.tagsClear {
    clear: both;
    width: 100%;
    height: 0px;
}

.tagsInvalid {
    display: block;
    float: left;
    padding: 4px 6px 4px 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #FBD8DB; /*light red*/
    cursor: pointer;
    font-size: 12px;
    color: #90111A;
    text-decoration: none; /* dark red*/
}

/* Auto Complete */
.acResults {
    padding: 0px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
}

    .acResults ul {
        margin: 0px;
        padding: 0px;
        list-style-position: outside;
        list-style: none;
    }

        .acResults ul li {
            margin: 0px;
            padding: 6px;
            cursor: pointer;
            display: block;
            overflow: hidden;
            color: #666;
        }

.acLoading {
}

.acSelect {
    background-color: #e8f1fa;
}

/* tooltip */
.tooltip {
    position: relative;
    display: block;
}

    .tooltip > .tooltipContent {
        display: none;
        z-index: 1;
        position: absolute;
        width: 200px;
        padding: 10px;
        border-radius: 3px;
        background: rgba(0,0,0,0.75);
        font-size: 11px;
        color: #ddd;
        text-align: left;
    }

        .tooltip > .tooltipContent > span {
            display: block;
        }

            .tooltip > .tooltipContent > span:after {
                position: absolute;
                content: "";
                left: 15px;
                bottom: -7px;
                width: 0;
                height: 0;
                opacity: 0.75;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 7px solid #000;
            }

/* ui widget overlay */
.ui-widget-overlay {
    background: #aaaaaa url(../images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .6;
    filter: Alpha(Opacity=60);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-front {
    z-index: 100;
}
